.catalogo{
    padding:40px;
    background:#fff;
    font-family:Montserrat,sans-serif;
}

.productos{
    width:100%;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,320px));
    justify-content:center;
    gap:35px;
}

.producto{
    cursor:pointer;
}

.imagen{
    width:100%;
    overflow:hidden;
}

.imagen img{
    width:100%;
    height:100%;
    object-fit:contain;
    transition:.35s;
}

.producto:hover img{
    transform:scale(0.95);
}

.etiqueta{
    display:block;
    margin-top:15px;
    color:#e63946;
    font-weight:700;
    font-size:14px;
}

.producto h3{
    margin:8px 0;
    font-size:22px;
}

.descripcion{
    margin-bottom:10px;
    color:#777;
}

.producto strong{
    font-size:20px;
}

.producto-link{
    display:block;
    color:inherit;
    text-decoration:none;
}

@media (max-width:1400px){
    .grid{
        grid-template-columns:repeat(3,320px);
    }
}

@media (max-width:1050px){
    .grid{
        grid-template-columns:repeat(2,320px);
    }
}

@media (max-width: 768px){

    .catalogo{
        padding:20px 15px;
    }

    .grid{
        grid-template-columns:repeat(2,1fr);
        gap:18px;
    }

    .etiqueta{
        font-size:12px;
        margin-top:10px;
    }

    .producto h3{
        font-size:16px;
        line-height:1.2;
        margin:6px 0;
    }

    .descripcion{
        font-size:14px;
        margin-bottom:6px;
    }

    .producto strong{
        font-size:16px;
    }

}