.product-details {
  max-width: 1500px;
  margin: 50px auto;
  padding: 0 40px 80px;
}

.product-layout {
  display: grid;

  grid-template-columns: minmax(650px, 850px) 420px;

  justify-content: center;

  gap: 50px;

  align-items: start;

  grid-template-areas:
    "left info"
    "extra info";
}

@media (max-width:1200px){

.product-layout{
    grid-template-columns:1fr;

    grid-template-areas:
        "left"
        "info"
        "extra";

    gap:40px;
}

}

@media (max-width:768px){

.product-details{
  margin:20px auto;
  padding:0 20px 60px;
}

.product-layout{
  gap:0;
}

}

/* Loading */

/* Product Not Found */