.topbar{
    position: relative;
    height: 42px;
    overflow: hidden;

    background: linear-gradient(
        90deg,
        #0b0b0b,
        #1a1a1a,
        #0b0b0b
    );

    border-bottom:1px solid rgba(255,255,255,.08);
}

/* Contenedor que se mueve */
.topbar-runner{

    position:absolute;

    left:-120px;

    top:50%;

    display:flex;

    align-items:center;

    transform:translateY(-50%);

    animation:run 12s linear infinite;

}

/* Línea de velocidad */

.speed-line{

    width:90px;

    height:2px;

    margin-right:12px;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.65),
        rgba(255,255,255,.1)
    );

}

/* Jumpman */

.topbar-mascot{

    height:30px;

    filter:
        brightness(0)
        invert(1)
        drop-shadow(0 0 10px rgba(255,255,255,.35));

}

/* Movimiento */

@keyframes run{

    0%{

        transform:
            translate(-120px,-50%);

    }

    45%{

        transform:
            translate(45vw,-52%);

    }

    50%{

        transform:
            translate(50vw,-58%)
            scale(1.05);

    }

    55%{

        transform:
            translate(55vw,-52%);

    }

    100%{

        transform:
            translate(calc(100vw + 120px),-50%);

    }

}